{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <h1>This is first Django project </h1>
    <a href="https://www.youtube.com/watch?v=_1Ek5kGC1bM">This is my profile link</a>
    {% static 'images/photo.jpeg' as nature %}
    <img src= "{{ nature }}",alt="my_photo"/>
    <img src="{% get_static_prefix %}images/photo2.jpeg" alt="Second_photo" />
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>